<!-- Start Page Title Area -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<section class="page-title-area uk-page-title">
    <div class="uk-container">
        <h1>DIAGNOSTIC IMMO</h1>
        <ul>
            <li>DIAGNOSTICS IMMOBILIERS À PARIS ET DANS TOUTE LA FRANCE</li>
           
        </ul>
        <ul>
           
            <li><a routerLink="/une-question" class="uk-button uk-button-default" style="color: white;">Demander un devis audit audit énergétique </a></li>
        </ul>
    </div>
</section>
<!-- End Page Title Area -->

<!-- Start Team Area -->
<section id="energy-audit" class="about-section">
    <div class="container">

        <!-- Header Section -->
        <div class="header-section">
            <h1 id="h11">Audit énergétique</h1>
            <p>Un audit énergétique est un outil indispensable pour identifier les sources de gaspillage énergétique dans un bâtiment ou un logement. En évaluant la performance énergétique d'un bien immobilier, il permet de repérer les zones de consommation excessive et de proposer des solutions pour réduire les coûts énergétiques</p>
        </div>

        <!-- First Row - Pourquoi faire un audit énergétique? -->
        <div class="content-row">
            <div class="image-column"id="img1">
                <img src="/assets/image/audit-energetique-.jpg" alt="Audit process image">
            </div>
            <div class="text-column">
                <h2>Pourquoi faire un audit énergétique ?</h2>
                <p>Un audit énergétique est un outil indispensable pour identifier les sources de gaspillage énergétique dans un bâtiment ou un logement. En évaluant la performance énergétique d'un bien immobilier, il permet de repérer les zones de consommation excessive et de proposer des solutions pour réduire les coûts énergétiques. L'audit énergétique est ainsi une étape clé pour améliorer l'efficacité énergétique d'un bâtiment ou d’un logement, réduire les émissions de gaz à effet de serre, améliorer le confort des occupants, et réduire la facture énergétique.Nous mettons à votre disposition et à celle de nos experts la meilleure technologie, avec pour seul objectif : vous satisfaire !</p>
            </div>
           
        </div>

        <!-- Second Row - Quelles sont les dates clés ? -->
        <div class="content-row">
            <div class="image-column">
                <img src="/assets/image/shutterstock.jpg" alt="Thermal image">
            </div>
            <div class="text-column" id="traa">
                <h2>Quelles sont les dates clés ?</h2>
                <p>L'audit énergétique est devenu obligatoire pour les grandes entreprises depuis le 1er janvier 2016, et pour les PME depuis le 1er janvier 2023. Il doit être renouvelé tous les 4 ans pour les grandes entreprises, et tous les 6 ans pour les PME. Pour les logements d’habitation, l'audit énergétique ne concerne que la vente des maisons individuelles et les immeubles en monopropriétés. Depuis le 1er Avril 2023, l’audit énergétique est obligatoire pour les logements dont le DPE est noté F et G. Au 1er janvier 2025, l’audit énergétique est obligatoire pour les logements dont le DPE est noté E. Au 1er janvier 2034, l’audit énergétique est obligatoire pour les logements dont le DPE est noté D. Par ailleurs, un audit énergétique volontaire peut être réalisé à tout moment pour évaluer la performance énergétique d'un bâtiment et améliorer son efficacité énergétique.</p>
            </div>
        </div>

        <!-- Third Row - Comment se déroule un audit énergétique? -->
        <div class="content-row">
            <div class="image-column" id="img1">
                <img src="/assets/image/718x0.webp"alt="Audit process image">
            </div>
            <div class="text-column">
                <h2>Comment se déroule un audit énergétique ?</h2>
                <p>L'audit énergétique se déroule en plusieurs étapes. Tout d'abord, il est important de réaliser une analyse des données énergétiques existantes pour comprendre le fonctionnement du bâtiment ou du logement. Ensuite, il faut réaliser une visite sur site pour repérer les zones de consommation excessive et les anomalies. Enfin, il faut réaliser une évaluation des investissements nécessaires pour améliorer l'efficacité énergétique du bâtiment ou du logement. L'ensemble de ces étapes permet de proposer des solutions personnalisées pour réduire les coûts énergétiques.</p>
            </div>
           
        </div>

        <!-- Fourth Row - Quelles actions doivent être entreprises après l'audit énergétique ? -->
        <div class="content-row">
            <div class="image-column">
                <img src="/assets/image/homme-tablette-immeuble-audit-energetique.jpg" alt="Energy efficiency chart">
            </div>
            <div class="text-column">
                <h2>Quelles actions doivent être entreprises après l'audit énergétique ?</h2>
                <p>Après l'audit énergétique, il est important de mettre en place les actions recommandées pour améliorer l'efficacité énergétique du bâtiment. Cela peut passer par des travaux d'isolation, de remplacement de fenêtres, d'installation d'équipements économes en énergie, etc. Il est également important de suivre régulièrement les consommations énergétiques pour vérifier l'impact des actions mises en place et ajuster si besoin.</p>
            </div>
        </div>

        <!-- Fifth Row - Qu'est-ce que l'Audit Énergétique Incitatif? -->
        <div class="content-row" id="ol">
            <div class="image-column" id="img1">
                <img src="/assets/image/audit8.jpg" alt="Energy saving concept">
            </div>
            <div class="text-column" id="tra">
                <h2>Qu'est-ce que l'Audit Énergétique Incitatif ?</h2>
                <p>L'audit énergétique incitatif est une évaluation volontaire de l'efficacité énergétique de votre domicile, effectuée par un professionnel qualifié. La principale différence entre l'audit incitatif et l'audit obligatoire réside dans son caractère volontaire. Cependant, il offre d'importants avantages, notamment :
                    <br>

                    Accès à MaPrimeRénov' : Cet audit est essentiel pour bénéficier de MaPrimeRénov', une aide gouvernementale pour la rénovation énergétique.
                    <br> Certificats d'Économies d'Énergie (CEE) : Il permet de récupérer une partie de vos dépenses en vendant des CEE.
                    <br>
                    Optimisation des rénovations : Vous recevrez des recommandations personnalisées pour maximiser vos économies d'énergie.
                    <br>
                    En bref, l'audit énergétique incitatif vous aide à obtenir des subventions, à améliorer l'efficacité énergétique de votre domicile, et à maximiser vos économies. C'est un investissement rentable pour l'avenir de votre maison et de votre budget.</p>
            </div>
          
        </div>
    </div>
</section>


<!-- End Team Area -->
